.titre-cgu {
	font-size: 18px;
	font-weight: bold;
	color: #000;
}

.arial-10-gris {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: 505050;
	text-decoration: none;
}
.arial-12-bleu-b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: 0075F6;
}
.arial-12-noir-b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: 000000;
}
.arial-24-noir-b {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
}
.arial-12-gris {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: 494949;
}
.arial-36-bleu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 36px;
	color: 0091FB;
}
.form-temperature {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #000000;
	width: 200px;
	background-color: #FFFFFF;
	border: 0px none;
}
.arial-16-bleu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: 0091FB;
	font-weight: bold;

}
.form-devises {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000000;
	background-color: #FFFFFF;
	width: 80px;
	border: none;
}
.arial-20-gris {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #BBBBBB;
}
.form-tva {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000000;
	background-color: #FFFFFF;
	width: 160px;
	border: none;
}
